@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;500;700&display=swap");
:root {
  --colors-bright-red: #f25f3a;
  --colors-dark-blue: #242d52;
  --colors-dark-grayish-blue: #9095a7;
  --colors-very-dark-blue: #1d1e25;
  --colors-very-pale-red: #ffefeb;
  --colors-very-light-gray: #fafafa;
  --colors-pale-orange: #f98f75;
  --font-size: 16px;
  --font-family: Be Vietnam Pro, sans-serif;
  --font-weights-bold: 400;
  --font-weights-bolder: 500;
  --font-weights-boldest: 700;
  --layouts-mobile: 23.4375rem;
  --layouts-desktop: 90rem; }

html {
  font-size: var(--font-size);
  font-family: var(--font-family); }

body {
  margin: 0;
  background-image: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 30rem, 20rem;
  background-position-x: 5rem, 15rem;
  background-position-y: -10rem, 28rem; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 0.75rem; }

input {
  border-radius: 2rem;
  height: 3.1875rem;
  padding-left: 1rem; }

button {
  cursor: pointer;
  background-color: transparent;
  font-weight: var(--font-weights-boldest);
  border: none; }

h1,
h2,
h3 {
  color: var(--colors-dark-blue);
  margin: 0; }

h1 {
  font-size: 2.1875rem; }

h2 {
  font-size: 1.78125rem;
  line-height: 2.75rem; }

p {
  line-height: 1.75rem;
  color: var(--colors-dark-grayish-blue);
  margin: 0; }

.hero__heading, .hero__paragraph {
  text-align: center; }

.blurb__heading, .blurb__paragraph {
  text-align: center; }

.testimonials__heading {
  text-align: center; }

.testimonial__heading, .testimonial__paragraph {
  text-align: center; }

.CTA__heading {
  text-align: center; }

.copyright__paragraph {
  text-align: center; }

.nav__links--bottom > .nav__link > .nav__anchor {
  color: var(--colors-dark-blue); }

.nav__links--bottom > .nav__link > .nav__anchor {
  color: white; }

.hero__paragraph {
  margin-top: 0.25rem; }

.blurb__paragraph {
  font-size: 0.875rem;
  margin-top: 0.75rem; }

.reason__heading {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  margin-bottom: 0.75rem; }
  .reason__heading--no {
    padding: 0.75rem 1.5625rem;
    color: white; }
  .reason__heading--text {
    padding-left: 0.5rem; }

.reason__paragraph {
  font-size: 0.875rem; }

.testimonial__heading {
  margin-bottom: 1.25rem; }

.testimonial__paragraph {
  font-size: 0.875rem; }

.CTA__heading {
  color: white;
  font-size: 2.25rem; }

.copyright__paragraph {
  font-size: 0.75rem; }

.btn {
  padding: 1.125rem 2rem;
  border-radius: 2rem; }
  .btn--orange {
    background-color: var(--colors-bright-red);
    color: white; }
    .btn--orange:hover {
      background-color: var(--colors-pale-orange); }
  .btn--white {
    background-color: white;
    color: var(--colors-bright-red); }
    .btn--white:hover {
      color: var(--colors-pale-orange); }

.logo {
  align-self: center; }
  .logo--top {
    margin-top: .5rem; }
  .logo--bottom {
    margin-top: 3.25rem;
    margin-left: auto;
    margin-right: auto; }

.testimonials__selector {
  width: 0.5625rem;
  height: 0.875rem;
  transform: scale(70%);
  border: solid;
  border-radius: 50%;
  border-width: 0.09375rem;
  border-color: var(--colors-bright-red); }
  .testimonials__selector--selected {
    background-color: var(--colors-bright-red); }

.testimonials {
  margin-top: 5.125rem; }
  .testimonials__selectors {
    margin-top: 1.5625rem; }
  .testimonials__btn {
    display: block;
    margin-top: 2.875rem;
    margin-left: auto;
    margin-right: auto; }

.testimonial:not(:nth-child(2)) {
  display: none; }

.testimonial {
  width: 22.5rem;
  margin-top: 4.3125rem; }
  .testimonial__img {
    z-index: 1;
    width: 4.5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .testimonial__info {
    background-color: var(--colors-very-light-gray);
    padding-left: 2.375rem;
    padding-right: 2.375rem;
    padding-bottom: 2.9375rem;
    padding-top: 4.0625rem; }

.nav__close {
  display: none; }

@media (min-width: 710px) {
  .nav__toggle {
    display: none; } }

.blurb {
  margin-top: 6.5rem; }
  .blurb__info {
    width: 18.125rem;
    height: auto; }

.reasons {
  margin-left: auto; }

.reason {
  width: 22rem; }
  .reason__heading {
    background-color: var(--colors-very-pale-red);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem; }
    .reason__heading--no {
      background-color: var(--colors-bright-red);
      border-radius: 1.5rem; }
  .reason__paragraph {
    width: 21.5rem; }

.CTA {
  margin-top: 2.5625rem;
  padding-top: 6.4375rem;
  padding-bottom: 5.5625rem;
  background-color: var(--colors-bright-red);
  background-image: url("../images/bg-tablet-pattern-CTA.svg");
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position-x: -23.75rem;
  background-position-y: 6.25rem; }
  .CTA__heading {
    display: block;
    width: 19rem; }
  .CTA__btn {
    display: block;
    align-self: center; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center; }
  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__links--top {
      display: flex;
      flex-direction: row;
      gap: 1.8125rem; }
    .nav__links--social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center; }

.blurb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.3125rem;
  /* Adjust for mobile responsiveness */ }

.reasons {
  display: flex;
  flex-direction: column;
  gap: 3.3125rem; }

.testimonials__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5625rem; }

.testimonials__selectors {
  display: flex;
  justify-content: center; }

.CTA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center; }

footer {
  background-color: var(--colors-very-dark-blue);
  padding-top: 3.125rem;
  padding-bottom: 1.9375rem; }

.submit-email {
  height: 5.3125rem; }
  .submit-email__input {
    width: 14.875rem; }
  .submit-email__btn {
    width: 5rem; }
  .submit-email__error-txt {
    display: none; }

.copyright {
  background-color: var(--colors-very-dark-blue);
  width: 100%;
  padding-top: 3.1875rem;
  padding-bottom: 2.25rem;
  position: absolute;
  margin-bottom: -7.5rem; }

.testimonial {
  display: grid; }
  .testimonial__img {
    grid-row: 1/3;
    grid-column: 1/3; }
  .testimonial__info {
    grid-row: 2/4;
    grid-column: 1/3; }

.nav__links--bottom {
  display: grid;
  justify-content: space-between;
  row-gap: 0.625rem; }
  .nav__links--bottom > .nav__link:nth-child(1),
  .nav__links--bottom > .nav__link:nth-child(5) {
    grid-row: 1/2; }
  .nav__links--bottom > .nav__link:nth-child(2),
  .nav__links--bottom > .nav__link:nth-child(6) {
    grid-row: 3/4; }
  .nav__links--bottom > .nav__link:nth-child(3),
  .nav__links--bottom > .nav__link:nth-child(7) {
    grid-row: 5/6; }
  .nav__links--bottom > .nav__link:nth-child(4) {
    grid-row: 7/8; }
  .nav__links--bottom > .nav__link:nth-child(1),
  .nav__links--bottom > .nav__link:nth-child(2),
  .nav__links--bottom > .nav__link:nth-child(3),
  .nav__links--bottom > .nav__link:nth-child(4) {
    grid-column: 1/2; }
  .nav__links--bottom > .nav__link:nth-child(5),
  .nav__links--bottom > .nav__link:nth-child(6),
  .nav__links--bottom > .nav__link:nth-child(7) {
    grid-column: 2/3; }

.submit-email {
  display: grid;
  grid-template-rows: 3.5625rem auto;
  column-gap: 1rem; }
  .submit-email__input {
    grid-column: 1/2; }
  .submit-email__btn {
    grid-column: 2/3;
    grid-row: 1/2; }
  .submit-email__error-mssg {
    grid-column: 1/2;
    grid-row: 2/3; }

.hero {
  margin-top: 3rem;
  margin-left: 2.125rem;
  margin-right: 2.125rem; }
  .hero__img {
    align-self: center;
    width: 19.25rem;
    height: auto; }
  .hero__info {
    width: 19rem; }
  .hero__btn {
    display: block;
    margin-top: 1.9375rem;
    margin-left: auto;
    margin-right: auto; }

.nav {
  margin-left: max(1.4375rem, 11.45833vw);
  margin-right: max(1.4375rem, 11.45833vw); }
  .nav__top {
    margin-top: max(2.4375rem, 3.88889vw); }
  .nav__links--top {
    display: none; }
  @media (min-width: 710px) {
    .nav__links--top {
      display: flex; } }
  .nav__links--bottom {
    margin-top: 2.5rem;
    width: 16.5rem; }
  .nav__links--social-media {
    margin-top: 2.5rem;
    width: 18.5rem; }
  .nav__img {
    width: 2rem;
    height: auto; }
  .nav__btn {
    display: none; }
  @media (min-width: 930px) {
    .nav__btn {
      display: block; } }
