@mixin textAlign($block) {
  .#{$block} {
    @if ($block == CTA) or ($block == testimonials) {
      &__heading {
        text-align: center;
      }
    } @else if ($block == copyright) {
      &__paragraph {
        text-align: center;
      }
    } @else {
      &__heading,
      &__paragraph {
        text-align: center;
      }
    }

      @if ($block == hero) or ($block == blurb) {
        @media (min-width: 730px) {
          &__heading,
          &__paragraph {
            text-align: left;
          }
        }
      } @else if ($block == CTA) {
        @media (min-width: 604px) {
          &__heading {
            text-align: left;
          }
        }
      }
    }
  }

  @mixin bottomNavLinks() {
    & > .nav__link:nth-child(1),
    & > .nav__link:nth-child(5) {
      grid-row: 1/2;
    }
    & > .nav__link:nth-child(2),
    & > .nav__link:nth-child(6) {
      grid-row: 3/4;
    }
    & > .nav__link:nth-child(3),
    & > .nav__link:nth-child(7) {
      grid-row: 5/6;
    }
    & > .nav__link:nth-child(4) {
      grid-row: 7/8;
    }

    & > .nav__link:nth-child(1),
    & > .nav__link:nth-child(2),
    & > .nav__link:nth-child(3),
    & > .nav__link:nth-child(4) {
      grid-column: 1/2;
    }

    & > .nav__link:nth-child(5),
    & > .nav__link:nth-child(6),
    & > .nav__link:nth-child(7) {
      grid-column: 2/3;
    }
  }

