.logo {
  align-self: center;
  &--top{
    margin-top: .5rem;
  }
  &--bottom {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 800px){
    &--bottom {
   margin-left: unset;
 }
 }
  @media (min-width: 1200px){
     &--bottom {
    margin-bottom: auto;
    margin-left: unset;
  }
  }
}
