.testimonials {
  margin-top: rem(82px);
  &__selectors{
    margin-top: rem(25px);
  }
  &__btn {
    display: block;
    margin-top: rem(46px);
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonial:not(:nth-child(2)) {
  display: none;
}

.testimonial {
  width: minSCSS(360px, 539px);
  margin-top: rem(69px);
  &__img {
    z-index: 1;
    width: rem(72px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &__info {
    background-color: var(--colors-very-light-gray);
    padding-left: minSCSS(38px, 70px);
    padding-right: minSCSS(38px, 70px);
    padding-bottom: rem(47px);
    padding-top: rem(65px);
  }
}
