.testimonials {
  margin-top: rem(82px);
  &__container{
    cursor: grab;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &--active{
      cursor: grabbing;
    }
    &::-webkit-scrollbar {
      display: none;
   }
  }
  &__selectors{
    margin-top: rem(25px);
  }
  @media (min-width: 590px) {
    &__selectors{
      display: none !important;
    }
  }
  &__btn {
    display: block;
    margin-top: rem(46px);
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonial {
  user-select: none;
  width: minSCSS(350px, 539px);
  margin-top: rem(69px);
  scroll-snap-align: center;
  &__img {
    pointer-events: none;
    z-index: 1;
    width: rem(72px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &__info {
    background-color: var(--colors-very-light-gray);
    padding-left: minSCSS(38px, 68px);
    padding-right: minSCSS(38px, 68px);
    padding-bottom: rem(47px);
    padding-top: rem(65px);
  }
  &__space{
    width: rem(31px);
  }

}

