:root {
  @each $color, $name in map-get($colors, primary) {
    --colors-#{$color}: #{$name};
  }
  @each $color, $name in map-get($colors, neutral) {
    --colors-#{$color}: #{$name};
  }
  @each $color, $name in map-get($colors, hover) {
    --colors-#{$color}: #{$name};
  }

  --font-size: #{$font-size};

  --font-family: #{$font-family};

  @each $weight, $name in $font-weights {
    --font-weights-#{$weight}: #{$name};
  }

  @each $layout, $name in $layout {
    --layouts-#{$layout}: #{rem($name)};
  }
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  background-image: url("../images/bg-tablet-pattern.svg"),
    url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: maxSCSS(440px, 820px), 20rem;
  background-position: top rem(-100px) right rem(-140px), top rem(440px) right rem(-200px);
}

@media (min-width: 822px) {
  body {
    background-image: url("../images/bg-tablet-pattern.svg"),
    url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: maxSCSS(440px, 820px), 55rem;
  background-position: top rem(-100px) right rem(-140px), top rem(1100px) left rem(-500px);
     
  }
  
}