:root {
  @each $color, $name in map-get($colors, primary) {
    --colors-#{$color}: #{$name};
  }
  @each $color, $name in map-get($colors, neutral) {
    --colors-#{$color}: #{$name};
  }
  @each $color, $name in map-get($colors, hover) {
    --colors-#{$color}: #{$name};
  }

  --font-size: #{$font-size};

  --font-family: #{$font-family};

  @each $weight, $name in $font-weights{
    --font-weights-#{$weight}:  #{$name};
  }

  @each $layout, $name in $layout {
    --layouts-#{$layout}: #{rem($name)};
  }
}

html{
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body{
  margin: 0;
  background-image: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 28rem, 20rem;
  background-position-x: rem(120px), 15rem;
  background-position-y: -10rem, 28rem;



}