ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: rem(12px);
}

input{
  border-radius: 2rem;
  padding-left: 1rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-weight: var(--font-weights-boldest);
  border: none;
  line-height: 0;
}

h1,
h2,
h3 {
  color: var(--colors-dark-blue);
  margin: 0;
}

h2 {
  font-size: rem(28.5px);
  line-height: 2.75rem;
}

p {
  line-height: 1.75rem;
  color: var(--colors-dark-grayish-blue);
  margin: 0;
}
