@include textAlign(hero);
@include textAlign(blurb);
@include textAlign(testimonials);
@include textAlign(testimonial);
@include textAlign(CTA);
@include textAlign(copyright);

.nav {
  &__links {
    &--bottom {
      white-space: nowrap;
      & > .nav__link {
        & > .nav__anchor {
          color: var(--colors-dark-blue);
        }
      }
    }
    &--bottom {
      & > .nav__link {
        & > .nav__anchor {
          color: white;
        }
      }
    }
  }
}

.hero {
  &__heading{
  font-size: maxSCSS(35px, 40px);
  }
  &__paragraph {
    font-size: rem(14px);
    margin-top: 0.25rem;
  }
}

.blurb {
  &__paragraph {
    font-size: rem(14px);
    margin-top: 0.75rem;
  }
}

.reason {
  &__heading {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    font-size: rem(14px);
    margin-bottom: 0.75rem;
    &--no {
      padding: rem(12px) rem(25px);
      color: white;
    }
    &--text {
      padding-left: 0.5rem;
    }
  }
  &__paragraph {
    font-size: rem(14px);
  }
}

.testimonial {
  &__heading {
    margin-bottom: rem(20px);
  }
  &__paragraph {
    font-size: rem(14px);
  }
}

.CTA {
  &__heading {
    color: white;
    font-size: rem(36px);
  }
}

.copyright {
  &__paragraph {
    font-size: rem(12px);
  }
}
