@include textAlign(hero);
@include textAlign(blurb);
@include textAlign(testimonials);
@include textAlign(testimonial);
@include textAlign(CTA);
@include textAlign(copyright);

.nav {
  &--mobile {
    & > .nav__links {
      & > .nav__link {
        & > .nav__anchor {
          font-weight: var(--font-weights-boldest);
          font-size: 1rem;
          color: var(--colors-dark-blue);
        }
      }
    }
  }
  &__links {
    &--bottom {
      white-space: nowrap;
      & > .nav__link {
        & > .nav__anchor {
          color: var(--colors-dark-blue);
        }
      }
    }
    &--bottom {
      & > .nav__link {
        & > .nav__anchor {
          color: white;
        }
      }
    }
  }
}

.hero {
  &__heading {
    font-size: maxSCSS(35px, 40px);
  }
  &__paragraph {
    font-size: rem(14px);
    margin-top: 0.25rem;
  }
}

.blurb {
  &__paragraph {
    font-size: rem(14px);
    margin-top: 0.75rem;
  }
}

.reason {
  &__heading {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    font-size: rem(14px);
    margin-bottom: 0.75rem;
    &--no {
      padding: rem(12px) rem(25px);
      color: white;
    }
    &--text {
      padding-left: 0.5rem;
    }
  }
  &__paragraph {
    font-size: rem(14px);
  }
}

.testimonial {
  &__heading {
    margin-bottom: rem(20px);
  }
  &__paragraph {
    font-size: rem(14px);
    min-height: rem(140px);
  }
}

.CTA {
  &__heading {
    color: white;
    font-size: rem(36px);
  }
}

.submit-email {
  &__input {
    &--error {
      color: var(--colors-bright-red);
    }
  }
  &__error-txt {
    margin-left: 1rem;
    font-size: 0.75rem;
    color: var(--colors-bright-red);
  }
}

.copyright {
  &__paragraph {
    font-size: rem(12px);
  }
}
