@include textAlign(hero);
@include textAlign(blurb);
@include textAlign(testimonials);
@include textAlign(testimonial);
@include textAlign(CTA);
@include textAlign(copyright);

.hero {
  &__paragraph {
    margin-top: 0.25rem;
  }
}

.blurb {
  &__info {
    // margin-left: rem(41px);
    // margin-right: rem(41px);
  }

  &__paragraph {
    font-size: rem(14px);
    margin-top: 0.75rem;
  }
}

.reason {
  &__heading {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    font-size: rem(14px);
    margin-bottom: 0.75rem;
    &--no {
      padding: rem(12px) rem(25px);
      color: white;
    }
    &--text{
      padding-left: .5rem;
    }
  }
  &__paragraph {
    font-size: rem(14px);
  }
}

.testimonial {
  &__heading {
    margin-bottom: rem(20px);
  }
  &__paragraph {
    font-size: rem(14px);
  }
}

.CTA {
  &__heading {
    color: white;
    font-size: rem(36px);
    padding-left: rem(28px);
    padding-right: rem(28px);
  }
}

.copyright {
  &__paragraph {
    font-size: rem(12px);
  }
}
