.blurb {
  margin-top: rem(104px);
  &__info {
    width: rem(290px);
    height: auto;
  }
}

.reasons {
  margin-left: auto;
}

.reason {
  width: 22rem;
  &__heading {
    background-color: var(--colors-very-pale-red);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    &--no {
      background-color: var(--colors-bright-red);
      border-radius: 1.5rem;
    }
  }
  &__paragraph{
    width: 21.5rem;
  }
}
