.blurb {
  margin-top: maxSCSS(104px, 130px);
  margin-left: auto;
  margin-right: auto;
  width: maxSCSS(375px, 1106px);
  &__info {
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 490px) {
    &__info {
      margin-left: unset;
    }
  }
  &__heading {
    width: maxSCSS(290px, 428px);
  }
  &__paragraph {
    width: rem(290px);
  }
}

.reasons {
  margin-left: auto;
}

.reason {
  width: maxSCSS(360px, 526px);
  &__heading {
    background-color: var(--colors-very-pale-red);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    &--no {
      background-color: var(--colors-bright-red);
      border-radius: 1.5rem;
    }
  }
  @media (min-width: 916px) {
    &__heading {
      width: unset;
      background-color: unset;
    }
  }
  &__paragraph {
    width: 21.5rem;
  }
  @media (min-width: 916px) {
    &__paragraph {
      margin-left: 5rem;
      width: maxSCSS(344px, 390px);
    }
  }

}
