.blurb {
  margin-top: rem(104px);
  width: maxSCSS(375px, 1106px);
  margin-left: auto;
  margin-right: auto;
  &__info {
    height: auto;
  }
  &__heading{
    width: maxSCSS(290px, 428px);
  }
  &__paragraph{
    width: rem(290px);
  }
}

.reasons {
  margin-left: auto;
}

.reason {
  width: maxSCSS(352px, 526px);
  &__heading {
    background-color: var(--colors-very-pale-red);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    &--no {
      background-color: var(--colors-bright-red);
      border-radius: 1.5rem;
    }
  }
  &__paragraph {
    width: 21.5rem;
  }
}
