.CTA {
  margin-top: rem(41px);
  padding-top: rem(103px);
  padding-bottom: rem(89px);

  background-color: var(--colors-bright-red);

  background-image: url("../images/bg-tablet-pattern-CTA.svg");
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position-x: rem(-380px);
  background-position-y: rem(100px);
&__container{
  width: maxSCSS(308px, 1106px);
  margin-left: auto;
  margin-right: auto;
}
  &__heading {
    display: block;
    width: maxSCSS(304px, 434px);
  }

  &__btn {
    display: block;
    align-self: center;
  }
}
