.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.blurb{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.testimonials {
  &__container {
    display: flex;
    flex-direction: row;
    gap: rem(9px);
  }
}
