.nav {
  display: flex;
  &__top{
  flex-direction: row;
    justify-content: space-between;
  }
  &__bottom {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    &--top {
      display: flex;
      flex-direction: row;
      gap: rem(29px);
    }
    &--social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

@media (min-width: 822px) {
  .hero {
    justify-content: space-between;
  }
}

.blurb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(53px); /* Adjust for mobile responsiveness */
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: rem(53px);
}

.testimonials {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: rem(9px);
  }
  &__selectors {
    display: flex;
    justify-content: center;
  }
}

.CTA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(24px);
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}


