.nav {
  display: flex;
  &__top {
    flex-direction: row;
    justify-content: space-between;
  }
  &__bottom {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    &--top {
      display: flex;
      flex-direction: row;
      gap: rem(29px);
    }
    &--social-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.blurb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(53px);
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: rem(53px);
}

.testimonials {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: rem(31px);
  }
  &__selectors {
    display: flex;
    justify-content: center;
  }
}
.testimonial {
  flex-shrink: 0;
}

.CTA {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(24px);
  }
  @media (min-width: 604px) {
    &__container {
      justify-content: space-between;
      // gap: unset;
    }
  }
}



footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
