footer {
  background-color: var(--colors-very-dark-blue);
  padding-top: rem(50px);
  padding-bottom: rem(31px);
}

.container{
  width: maxSCSS(328px, 1106px);
  margin-left: auto;
  margin-right: auto;
}

.submit-email {
  height: rem(85px);
  &__input {
    width: rem(238px);
  }
  &__btn{
    width: rem(80px);
  }
  &__error-txt {
    display: none;
  }
}
