footer {
  background-color: var(--colors-very-dark-blue);
  padding-top: rem(50px);
  padding-bottom: rem(31px);
}

.submit-email {
  width: rem(326px);
  margin-left: auto;
margin-right: auto;

  &__btn{
    width: rem(80px);
  }
  &__error-txt {
    display: none;
  }
}
