.hero {
  margin-top: maxSCSS(48px, 100px);
  margin-left: auto;
  margin-right: auto;
  width: maxSCSS(305px, 1106px);
  &__img {
    align-self: center;
    width: maxSCSS(308px, 580px);
    height: auto;
  }

  &__heading {
    width: maxSCSS(300px, 350px);
  }
  &__paragraph{
    width: maxSCSS(295px, 300px);
  }

  &__btn {
    display: block;
    margin-top: rem(31px);
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 822px) {
    &__info{
      margin-top: rem(56px);
    }

    &__btn {
      margin-left: unset;
    }
  }
}
