.nav {
  margin-left: rem(23px);
  margin-right: rem(23px);
  &__top {
    margin-top: rem(39px);
  }
  &__links {
    &--top {
      display: none;
    }
    &--bottom {
      margin-top: rem(40px);
      width: rem(264px);
    }
    &--social-media {
      margin-top: rem(40px);
      width: rem(296px);
    }
  }
  &__img {
    width: rem(32px);
    height: auto;
  }
  &__btn {
    display: none;
  }
}
