.nav {
  &__top {
    margin-top: maxSCSS(39px, 56px);
    margin-left: auto;
    margin-right: auto;
    width: maxSCSS(327px, 1106px);
  }
  &__links {
    &--top {
      display: none;
    }
    @media (min-width: 710px) {
      &--top {
        display: flex;
      }
    }
    &--bottom {
      margin-top: rem(40px);
      width: rem(264px);
    }
    &--social-media {
      margin-top: rem(40px);
      width: rem(296px);
    }
  }
  &__img {
    width: rem(32px);
    height: auto;
  }
  &__btn {
    display: none;
  }
  @media (min-width: 930px) {
    &__btn {
      display: block;
    }
  }
}
